html, body {
	background: #e2e2e2 !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin', sans-serif;
	color: #0b254a;
}

p {
	font-family: 'Cabin', sans-serif;
	color: #6b7480;
}

.bg-blue {
	background-color: #0b264a;
}

.navbar-logo {
	max-width: 90px;
}

.navbar-icons {
	color: #e2e2e2;
}

.content {
	margin: 100px;
}

.vertical-center {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.card__address {
	width: 80%;
	max-width: 675px;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.34);
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.34);
}

.card__background {
	background-color: #dd9a61;
	margin-top: -70px;
}

.text__address {
	color: white;
}

.card__main-content {
	width: 95% !important;
	padding: 20px;
	margin-top: 20px;
	border-radius: 0 !important;
}

.card-border {
    border-top: 10px solid #dd9a61!important;
    border-top-width: 10px !important;
    border-top-style: solid !important;
    border-top-color: rgb(221, 154, 97) !important;
}

.btn-circle.btn-xl { 
	width: 150px; 
	height: 150px; 
	border-radius: 85px; 
	font-size: 12px; 
	text-align: center;
	color: white !important;
}

.btn-circle_text {
	margin-top: 10px;
	text-transform: uppercase;
}

.footer {
	padding: 10px 10px 10px 10px;
	margin-top: 1rem;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}